<div class="main-wrapper">
  <div class="attention-message">
    <div class="container">
      <strong>ATTENTION: REGISTER NOW !! </strong>Registration will end on {{currentDate}}<strong> -DON'T MISS THE
        OPPORTUNITY</strong>
    </div>

  </div>
  <header class="header" id="header">
    <div class="container mycon">
      <img src="./../assets/images/logo-black.svg" alt="logo" class="header-image-logo">
    </div>
  </header>
  <main class="main">
    <section class="hero-section">
      <div class="hero-section-bg"></div>
      <div class="container in-container">
        <h2 class="main-subheading">Investing at a new level:</h2>
        <div class="hero-content">
          <div class="hero-video-wrapper">
            <h1 class="main-heading">
              <span>AVEX AI</span> is your reliable partner in the world of financial technologies
            </h1>
            <div class="video">
              <img src="./../assets/images/poster.png" alt="poster photo" style="width: 100%; height: auto;" />
            </div>
          </div>
          <div class="hero-form-part" style="height: 80%;">
            <div class="form-wrapper" style="padding: 2rem;">
              <h2 class="registration-heading">FREE REGISTRATION</h2>
              <form>
                <p class="disclaimer">*This form is here only for layout demonstration. The entered data is not sent
                  anywhere.</p>
                <!-- <label for="fname">First Name</label> -->
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <!-- <label for="lname">Last Name</label> -->
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <!-- <label for="fname">First Name</label> -->
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <!-- <label for="lname">Last Name</label> -->
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <input type="submit" value="SIGN IN">
              </form>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="why-us-section">
      <div class="container second-section">
        <div class="img-part">
          <div class="img-container">
            <div >
            <img src="./../assets/images/logo-white.svg" class="avex-img"  />
          </div>
          </div>
          <div class="card-wrapper card-container">
            <div class="card why-us-card">
              <img src="./../assets/images/fist.svg" class="why-us-icon"/>
              <h4>Full Autonomy</h4>
            </div>
            <div class="card why-us-card">
              <img src="./../assets/images/lamp.svg" class="why-us-icon" />
              <h4>AI Integration</h4>
            </div>
            <div class="card why-us-card">
              <img src="./../assets/images/palm-with-money.svg" class="why-us-icon"/>
              <h4>Stable Income</h4>
            </div>

          </div>
         
        </div>
        <div class="text-part">
          <h2 class="section-heading"><span>Why Avex AI?</span></h2>
          <p class="section-text">Avex AI ia an investment platform that can operate fully automatically and generate stable profits for our clients. Our platform utilizes advanced machine learning algorithms to predict market trends and make investment decisions based on large volumes of data and market information.</p>
          <p class="section-text">Our automated investment system offers highly efficient investment solutions for each client, taking into account their individual needs and financial goals. This ensures our clients a stable income and minimizes risks, even in challenging market conditions.</p>
          <p class="section-text">Avex AI provides a convenient and simple investment process that does not require special knowledge or experience in finance. Our clients can monitor their portfolios through our online platform and receive regular performance reports on their investments.</p>
          <p class="section-text">By choosing Avex AI, you can be sure that your portfolio is in safe hands and that our machine learning algorithms will work for your financial future.</p>
        </div>
      </div>
    </section>
    <section class="advantages-section">
      <div class="container">
<h2 class="advantage-heading">Advantages of Avex AI</h2>
<div class="advantage-card-wrapper">
  <div class="advantages-card">
    <img src="./../assets/images/lock.svg" style="width: 90; height: 90;"/>
    <h4 class="insection-subhead">Fast access to information</h4>
    <p class="para-text">Thanks to its highly accurate AI, Avex AI has access to an inexhaustible source of data about exchanges, platforms, and other markets.</p>
  </div>
  <div class="advantages-card">
    <img src="./../assets/images/fist.svg" style="width: 90; height: 90;"/>
    <h4 class="insection-subhead">Full Autonomy</h4>
    <p class="para-text">The platform independently analyzes markets, makes trading decisions, and executes trades without the need for continuous monitoring by the trader.</p>
  </div>
  <div class="advantages-card">
    <img src="./../assets/images/passing-money.svg" style="width: 90; height: 90;"/>
    <h4 class="insection-subhead">Practical losslessness</h4>
    <p class="para-text">Avex AI predicts chart movements with 99.8% accuracy, using complex algorithms and models to execute profitable trades.</p>
  </div>
  <div class="advantages-card">
    <img src="./../assets/images/dollars.svg" style="width: 90; height: 90;"/>
    <h4 class="insection-subhead">Convenient money withdrawal</h4>
    <p class="para-text">The company collaborates with major payment systems such as Visa, Mastercard, PayPal, Binance, and others.</p>
  </div>
</div>
      </div>
    </section>
    <section class="steps-section">
      <div class="container">
        <h2 class="sectionthree-heading">How to get started?</h2>
        <div class="steps-card-wrapper">
          <div class="steps-card">
            <h4 class="steps-subhead">FIRST STEP</h4>
            <p class="steps-para">Fill in the registration form on the website</p>
          </div>
          <div class="steps-card">
            <h4 class="steps-subhead">SECOND STEP</h4>
            <p class="steps-para">Answer the call from a personal manager</p>
          </div>
          <div class="steps-card">
            <h4 class="steps-subhead">THIRD STEP</h4>
            <p class="steps-para">Make your first deposit of $250</p>
          </div>
        </div>
        <div class="section-bottom-head">ENJOY STABLE PASSIVE INCOME</div>
      </div>
    </section>
    <section class="about-section">
      <div class="container about-container">
<div class="imgs-part">
  <img src="./../assets/images/ai-large-img.png" class="about-img" />
</div>
<div class="texts-part">
  <h2 class="aboutsub-heading">What a Bot can do</h2>
  <ul>
    <li>
      <h4 class="about-list-head">Analytics and forecasting</h4>
      <p>The robot uses various analytical tools to predict chart movements and make corresponding trading decisions.</p>
    </li>
    <li>
      <h4 class="about-list-head">Fast order execution</h4>
      <p>The trading robot ensures instant order execution, enabling it to quickly respond to rapidly changing market conditions.</p>
    </li>
    <li>
      <h4 class="about-list-head">Risk management</h4>
      <p>The robot has a built-in automatic risk management function to control potential losses and protect profits.</p>
    </li>
    <li>
      <h4 class="about-list-head">Monitoring and notifications</h4>
      <p>The bot constantly monitors market conditions and the trading account's status, providing traders with timely notifications and reports on executed operations.</p>
    </li>
  </ul>
</div>
      </div>
    </section>
    <section class="opinion-section">
      <div class="opinion-card-wrapper container">
        <div class="opinion-card">
          <img src="./../assets/images/jack-ma.png"  class="opinion-card-image"/>
          <h4>JACK MA</h4>
          <p>"I am impressed with the investment platform Avex AI and the use of artificial intelligence for automated trading. Its accurate algorithms and analytical capabilities help investors make informed decisions. I see the potential in such technologies for the development of the financial sector and believe that Avex AI can become a significant player in the investment market."</p>
        </div>
        <div class="opinion-card">
          <img src="./../assets/images/warren-buffet.png"  class="opinion-card-image"/>
          <h4>WARREN BUFFETT</h4>
          <p>"Investing is not an easy but profitable activity. I have seen and tested many platforms, but Avex AI has pleasantly surprised me. They keep up with technological trends and incorporate them into the platform. The platform's high profitability and user-friendliness are proof of this. Therefore, I can confidently recommend it to anyone looking for a reliable and profitable platform for trading financial assets."" </p>
        </div>
      </div>
    </section>
  </main>
  <footer></footer>
</div>
<!-- <router-outlet></router-outlet> -->